#contactUs{
  min-height: 250px;

  @include breakpoint($sm){
    height: 450px;
  }
  
  padding: 50px 0;
  header{
    text-align: center;
    padding: 0 0 15px 0;
    line-height: 140%;
    h1{ 
      font-size: 1.4em; 
    } // h1
  } // header

  div{

    .item{ 
      @include background(linear-gradient(to bottom, rgba($blueLight, 0.8), rgba($green, 0.4)));
      @include border-radius(2%);
      font-size: 1.3em;
      padding: 10px;

      h2{
        float: left;
        margin-right: 15px;
      }
    } // item

    .details{
      @include container(95%);
      line-height: 140%;
      
      ul{
        text-align: center;
        li{
          float: left;
          a{
            padding: 5px 5px 5px 35px;

            //icon style
            background-size: 35px;
            background-repeat: no-repeat;
            background-position: 2px;

            &.phone { background-image:url('../images/icons/phone.png');}
            &.email { background-image:url('../images/icons/contactUs.png');}
          } // a

          &:last-child{
            a{
              padding: 5px 5px 5px 0;
              margin: 0;
            }
          }

          address{
            
            padding: 5px 5px 5px 35px;
            display: inline-block;

            //icon style
            background-size: 35px;
            background-repeat: no-repeat;
            background-position: left top;
            background-image:url('../images/icons/address.png');
          } // address

          span{
            text-indent: -1400em;
            display: inline-block;
          }

          @include breakpoint($sm){
            
            span{
              text-indent: 0;
              display: inline-block;
            }
          }

        } //li
      }// ul
    } // detials

    .form{
      display: none;
    }

    @include breakpoint($sm){
      @include display-flex();
      @include flex-direction(row);
      @include align-items(center);
      @include align-self(baseline);
      @include flex-wrap(wrap);
      @include justify-content(space-between);
      @include pad(1 1);

      .item{ 
        @include background(linear-gradient(to bottom, rgba($blueLight, 0.8), rgba($green, 0.4)));
        @include border-radius(2%);
        height: 250px;
        font-size: 1.3em;
        padding: 10px;

        h2{
          float: none;
          margin-right: auto;
        }
      } // item
  
      .details{
        width: 35%;
        line-height: 140%;

        ul{
          li{
            text-align: left;

            a{
              margin-top: 25px;
            }
          }
        } // ul
      } // detials
  
      .form{
        width: 48%;
        margin: auto;
        display: inline-block;

        input[type="email"],
        input[type="text"],
        textarea {
          width: 18em;
          padding: 5px 0;
          margin: 10px 5px 5px 0;
          @include border-radius(5%);
          background-color: lighten($color: $blueLight, $amount: 40%)
        }  // common input, textarea style

        textarea{
          vertical-align: middle;
          height: 5em;
          
        }  // textarea

        button{
          padding: 0 0.9em;
          line-height: 1.4em;
          font-size: 1.4em;
          font-weight: 100;
          height: 1.4em;
          letter-spacing: 0.045em;
          text-decoration: none;
          text-transform: lowercase;
          text-align: center;
          white-space: nowrap;
          color: white;
          background-color: rgb(0, 101, 14);
          display: table;
          cursor: pointer;
          border: 1px solid rgb(8, 96, 20);
          border-radius: 0.355em;
          -webkit-box-shadow: inset 0 1px 3px rgb(17, 96, 28);
          box-shadow: inset 0 1px 3px rgb(135, 242, 149);
              /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+31,207cca+44,2989d8+50,7db9e8+100 */
            background: rgb(30,87,153); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(32,124,202,1) 31%, rgba(32,124,202,1) 44%, rgba(41,137,216,1) 50%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(32,124,202,1) 31%,rgba(32,124,202,1) 44%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(32,124,202,1) 31%,rgba(32,124,202,1) 44%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
        } // button
        
      } // form

    } // breakpoint

  } // div

} // #contactUs