@import url("https://fonts.googleapis.com/css?family=Exo+2:200,400,600,800");
/* line 5, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../var/lib/gems/2.3.0/gems/susy-2.2.14/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
/* line 1, ../../../components/sass/_base.scss */
html {
  scroll-behavior: smooth;
}

/* line 5, ../../../components/sass/_base.scss */
body {
  background-color: white;
  font-size: 100%;
  color: #000000;
  font-weight: 400;
}

/* line 12, ../../../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: rgba(162, 74, 25, 0.8);
  font-weight: 600;
}

/* line 17, ../../../components/sass/_base.scss */
a {
  text-decoration: none;
}

/* line 21, ../../../components/sass/_base.scss */
.continer-flex {
  display: flex;
  justify-content: space-between;
}

/* line 27, ../../../components/sass/_base.scss */
.img-responsive {
  width: 100%;
}

@media (min-width: 960px) {
  /* line 3, ../../../components/sass/_layout.scss */
  header #nav {
    padding-left: 9.16667%;
    padding-right: 9.16667%;
  }
  /* line 7, ../../../components/sass/_layout.scss */
  header .branDescription {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
  }
  /* line 12, ../../../../../../var/lib/gems/2.3.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  header .branDescription:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 18, ../../../components/sass/_mixins.scss */
main:after, main:before {
  content: '';
  display: table;
}
/* line 23, ../../../components/sass/_mixins.scss */
main:after {
  clear: both;
}
@media (min-width: 960px) {
  /* line 15, ../../../components/sass/_layout.scss */
  main {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwNjE4YyIgc3RvcC1vcGFjaXR5PSIwLjciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDYxOGMiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(48, 97, 140, 0.7)), color-stop(100%, rgba(48, 97, 140, 0.2)));
    background: -moz-linear-gradient(top, rgba(48, 97, 140, 0.7), rgba(48, 97, 140, 0.2));
    background: -webkit-linear-gradient(top, rgba(48, 97, 140, 0.7), rgba(48, 97, 140, 0.2));
    background: linear-gradient(to bottom, rgba(48, 97, 140, 0.7), rgba(48, 97, 140, 0.2));
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
  }
  /* line 12, ../../../../../../var/lib/gems/2.3.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  main:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 23, ../../../components/sass/_layout.scss */
  main aside {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 27, ../../../components/sass/_layout.scss */
  main article {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 18, ../../../components/sass/_mixins.scss */
  main:after, main:before {
    content: '';
    display: table;
  }
  /* line 23, ../../../components/sass/_mixins.scss */
  main:after {
    clear: both;
  }
}

/* line 18, ../../../components/sass/_mixins.scss */
footer:after, footer:before {
  content: '';
  display: table;
}
/* line 23, ../../../components/sass/_mixins.scss */
footer:after {
  clear: both;
}
/* line 38, ../../../components/sass/_layout.scss */
footer .footerMenu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  width: 100%;
}
@media (min-width: 0) and (max-width: 400px) {
  /* line 38, ../../../components/sass/_layout.scss */
  footer .footerMenu {
    display: flex;
    flex-direction: column-reverse;
  }
}
/* line 47, ../../../components/sass/_layout.scss */
footer .footerMenu section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (min-width: 0) and (max-width: 400px) {
  /* line 47, ../../../components/sass/_layout.scss */
  footer .footerMenu section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
/* line 55, ../../../components/sass/_layout.scss */
footer .copyRight {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  width: 100%;
  height: 2em;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2OGM4MCIgc3RvcC1vcGFjaXR5PSIwLjkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjhjODAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(22, 140, 128, 0.9)), color-stop(100%, rgba(22, 140, 128, 0.2)));
  background: -moz-linear-gradient(top, rgba(22, 140, 128, 0.9), rgba(22, 140, 128, 0.2));
  background: -webkit-linear-gradient(top, rgba(22, 140, 128, 0.9), rgba(22, 140, 128, 0.2));
  background: linear-gradient(to bottom, rgba(22, 140, 128, 0.9), rgba(22, 140, 128, 0.2));
}

/* line 1, ../../../components/sass/modules/_footer.scss */
footer {
  text-align: left;
  padding: 0 0 15px 0;
}
/* line 18, ../../../components/sass/_mixins.scss */
footer:after, footer:before {
  content: '';
  display: table;
}
/* line 23, ../../../components/sass/_mixins.scss */
footer:after {
  clear: both;
}
/* line 7, ../../../components/sass/modules/_footer.scss */
footer .footerMenu {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2NzE4YyIgc3RvcC1vcGFjaXR5PSIwLjciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjcxOGMiIHN0b3Atb3BhY2l0eT0iMC4zIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(22, 113, 140, 0.7)), color-stop(100%, rgba(22, 113, 140, 0.3)));
  background: -moz-linear-gradient(top, rgba(22, 113, 140, 0.7), rgba(22, 113, 140, 0.3));
  background: -webkit-linear-gradient(top, rgba(22, 113, 140, 0.7), rgba(22, 113, 140, 0.3));
  background: linear-gradient(to bottom, rgba(22, 113, 140, 0.7), rgba(22, 113, 140, 0.3));
  margin: 0 auto;
  padding: 15px 0;
}
/* line 13, ../../../components/sass/modules/_footer.scss */
footer .footerMenu ul li {
  padding: 0.15rem 0 0 0.15rem;
}
@media (min-width: 0) and (max-width: 400px) {
  /* line 13, ../../../components/sass/modules/_footer.scss */
  footer .footerMenu ul li {
    padding: 0.3rem 0;
  }
}
/* line 21, ../../../components/sass/modules/_footer.scss */
footer .footerMenu ul li:hover {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwNjE4YyIgc3RvcC1vcGFjaXR5PSIwLjkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDYxOGMiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(48, 97, 140, 0.9)), color-stop(100%, rgba(48, 97, 140, 0.2)));
  background: -moz-linear-gradient(top, rgba(48, 97, 140, 0.9), rgba(48, 97, 140, 0.2));
  background: -webkit-linear-gradient(top, rgba(48, 97, 140, 0.9), rgba(48, 97, 140, 0.2));
  background: linear-gradient(to bottom, rgba(48, 97, 140, 0.9), rgba(48, 97, 140, 0.2));
  width: 10rem;
}
@media (min-width: 0) and (max-width: 400px) {
  /* line 21, ../../../components/sass/modules/_footer.scss */
  footer .footerMenu ul li:hover {
    width: 100%;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  /* line 32, ../../../components/sass/modules/_footer.scss */
  footer .footerMenu section {
    text-align: center;
    padding: 0 0 0.3rem 0;
    margin: 0 0 0.3rem 0;
  }
  /* line 40, ../../../components/sass/modules/_footer.scss */
  footer .footerMenu section:not(:first-child) {
    border-bottom: 0.1rem dotted #168C80;
  }
}
/* line 49, ../../../components/sass/modules/_footer.scss */
footer .copyRight {
  text-align: center;
  line-height: 2rem;
}

/* line 1, ../../../components/sass/modules/_service.scss */
#services {
  background-color: white;
  padding: 0.5em;
}
/* line 5, ../../../components/sass/modules/_service.scss */
#services h1 {
  font-size: 1.5em;
}
/* line 9, ../../../components/sass/modules/_service.scss */
#services h2 {
  font-size: 1.3em;
  padding: 0.3em 0;
}
@media (min-width: 400px) and (max-width: 600px) {
  /* line 9, ../../../components/sass/modules/_service.scss */
  #services h2 {
    padding: 0.3px 0 0.1px 0;
  }
}
/* line 18, ../../../components/sass/modules/_service.scss */
#services p {
  padding: 0.3em 0;
  text-align: justify;
}
/* line 21, ../../../components/sass/modules/_service.scss */
#services p.caption {
  font-size: 1.2em;
  padding: 0.2rem 0 0.4em 0;
}
/* line 27, ../../../components/sass/modules/_service.scss */
#services section {
  width: 33%;
  padding: 0.3rem;
}
@media (min-width: 0) and (max-width: 600px) {
  /* line 27, ../../../components/sass/modules/_service.scss */
  #services section {
    width: 100%;
  }
  /* line 33, ../../../components/sass/modules/_service.scss */
  #services section:not(:last-child) {
    border-bottom: 1px dotted #168C80;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  /* line 40, ../../../components/sass/modules/_service.scss */
  #services .continer-flex {
    flex-direction: column;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  /* line 47, ../../../components/sass/modules/_service.scss */
  #services .img-responsive {
    width: 150px;
    border-radius: 50px;
    float: left;
    padding-right: 0.5em;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
}

/* line 1, ../../../components/sass/modules/_nav.scss */
#nav {
  padding: 0;
  width: 100%;
}
/* line 18, ../../../components/sass/_mixins.scss */
#nav:after, #nav:before {
  content: '';
  display: table;
}
/* line 23, ../../../components/sass/_mixins.scss */
#nav:after {
  clear: both;
}
/* line 5, ../../../components/sass/modules/_nav.scss */
#nav .brand {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  height: 50px;
  float: left;
  background-image: url("../images/icons/Truck-with-Site-Office-icon.png");
  background-repeat: no-repeat;
}
@media (min-width: 0) and (max-width: 400px) {
  /* line 5, ../../../components/sass/modules/_nav.scss */
  #nav .brand {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  /* line 5, ../../../components/sass/modules/_nav.scss */
  #nav .brand {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
/* line 34, ../../../components/sass/modules/_nav.scss */
#nav .navbar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 38, ../../../components/sass/modules/_nav.scss */
#nav .navbar ul {
  list-style: none;
}
/* line 41, ../../../components/sass/modules/_nav.scss */
#nav .navbar ul li {
  float: right;
}
/* line 44, ../../../components/sass/modules/_nav.scss */
#nav .navbar ul li a {
  display: inline-block;
  padding: 15px 5px 15px 30px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 2px;
}
/* line 52, ../../../components/sass/modules/_nav.scss */
#nav .navbar ul li a.phone {
  background-image: url("https://image.flaticon.com/icons/png/512/25/25377.png");
}
/* line 53, ../../../components/sass/modules/_nav.scss */
#nav .navbar ul li a.contact {
  background-image: url("https://image.flaticon.com/icons/png/512/25/25377.png");
}
/* line 54, ../../../components/sass/modules/_nav.scss */
#nav .navbar ul li a.news {
  background-image: url("https://image.flaticon.com/icons/png/512/14/14711.png");
}
/* line 55, ../../../components/sass/modules/_nav.scss */
#nav .navbar ul li a.service {
  background-image: url("https://image.flaticon.com/icons/png/512/25/25377.png");
}
/* line 56, ../../../components/sass/modules/_nav.scss */
#nav .navbar ul li a.aboutus {
  background-image: url("https://image.flaticon.com/icons/png/512/25/25377.png");
}
/* line 57, ../../../components/sass/modules/_nav.scss */
#nav .navbar ul li a.home {
  background-image: url("https://image.flaticon.com/icons/svg/25/25694.svg");
}
@media (min-width: 0) and (max-width: 659px) {
  /* line 60, ../../../components/sass/modules/_nav.scss */
  #nav .navbar ul li a span {
    text-indent: -1500px;
    display: inline-block;
    white-space: nowrap;
  }
}
@media (min-width: 660px) and (max-width: 782px) {
  /* line 44, ../../../components/sass/modules/_nav.scss */
  #nav .navbar ul li a {
    padding-left: 15px;
  }
  /* line 69, ../../../components/sass/modules/_nav.scss */
  #nav .navbar ul li a.icon {
    background-image: none;
  }
}

/* line 1, ../../../components/sass/modules/_blogs.scss */
#blogs {
  height: 300px;
  padding: 15px 0;
}
@media (min-width: 600px) {
  /* line 1, ../../../components/sass/modules/_blogs.scss */
  #blogs {
    padding-left: 9.16667%;
    padding-right: 9.16667%;
  }
}

/* line 1, ../../../components/sass/modules/_contactUs.scss */
#contactUs {
  min-height: 250px;
  padding: 50px 0;
}
@media (min-width: 600px) {
  /* line 1, ../../../components/sass/modules/_contactUs.scss */
  #contactUs {
    height: 450px;
  }
}
/* line 9, ../../../components/sass/modules/_contactUs.scss */
#contactUs header {
  text-align: center;
  padding: 0 0 15px 0;
  line-height: 140%;
}
/* line 13, ../../../components/sass/modules/_contactUs.scss */
#contactUs header h1 {
  font-size: 1.4em;
}
/* line 20, ../../../components/sass/modules/_contactUs.scss */
#contactUs div .item {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwNjE4YyIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjhjODAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(48, 97, 140, 0.8)), color-stop(100%, rgba(22, 140, 128, 0.4)));
  background: -moz-linear-gradient(top, rgba(48, 97, 140, 0.8), rgba(22, 140, 128, 0.4));
  background: -webkit-linear-gradient(top, rgba(48, 97, 140, 0.8), rgba(22, 140, 128, 0.4));
  background: linear-gradient(to bottom, rgba(48, 97, 140, 0.8), rgba(22, 140, 128, 0.4));
  -moz-border-radius: 2%;
  -webkit-border-radius: 2%;
  border-radius: 2%;
  font-size: 1.3em;
  padding: 10px;
}
/* line 26, ../../../components/sass/modules/_contactUs.scss */
#contactUs div .item h2 {
  float: left;
  margin-right: 15px;
}
/* line 32, ../../../components/sass/modules/_contactUs.scss */
#contactUs div .details {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  line-height: 140%;
}
/* line 12, ../../../../../../var/lib/gems/2.3.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
#contactUs div .details:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 36, ../../../components/sass/modules/_contactUs.scss */
#contactUs div .details ul {
  text-align: center;
}
/* line 38, ../../../components/sass/modules/_contactUs.scss */
#contactUs div .details ul li {
  float: left;
}
/* line 40, ../../../components/sass/modules/_contactUs.scss */
#contactUs div .details ul li a {
  padding: 5px 5px 5px 35px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: 2px;
}
/* line 48, ../../../components/sass/modules/_contactUs.scss */
#contactUs div .details ul li a.phone {
  background-image: url("../images/icons/phone.png");
}
/* line 49, ../../../components/sass/modules/_contactUs.scss */
#contactUs div .details ul li a.email {
  background-image: url("../images/icons/contactUs.png");
}
/* line 53, ../../../components/sass/modules/_contactUs.scss */
#contactUs div .details ul li:last-child a {
  padding: 5px 5px 5px 0;
  margin: 0;
}
/* line 59, ../../../components/sass/modules/_contactUs.scss */
#contactUs div .details ul li address {
  padding: 5px 5px 5px 35px;
  display: inline-block;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url("../images/icons/address.png");
}
/* line 71, ../../../components/sass/modules/_contactUs.scss */
#contactUs div .details ul li span {
  text-indent: -1400em;
  display: inline-block;
}
@media (min-width: 600px) {
  /* line 78, ../../../components/sass/modules/_contactUs.scss */
  #contactUs div .details ul li span {
    text-indent: 0;
    display: inline-block;
  }
}
/* line 88, ../../../components/sass/modules/_contactUs.scss */
#contactUs div .form {
  display: none;
}
@media (min-width: 600px) {
  /* line 18, ../../../components/sass/modules/_contactUs.scss */
  #contactUs div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-self: baseline;
    align-self: baseline;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-left: 9.16667%;
    padding-right: 9.16667%;
  }
  /* line 101, ../../../components/sass/modules/_contactUs.scss */
  #contactUs div .item {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwNjE4YyIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjhjODAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(48, 97, 140, 0.8)), color-stop(100%, rgba(22, 140, 128, 0.4)));
    background: -moz-linear-gradient(top, rgba(48, 97, 140, 0.8), rgba(22, 140, 128, 0.4));
    background: -webkit-linear-gradient(top, rgba(48, 97, 140, 0.8), rgba(22, 140, 128, 0.4));
    background: linear-gradient(to bottom, rgba(48, 97, 140, 0.8), rgba(22, 140, 128, 0.4));
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    border-radius: 2%;
    height: 250px;
    font-size: 1.3em;
    padding: 10px;
  }
  /* line 108, ../../../components/sass/modules/_contactUs.scss */
  #contactUs div .item h2 {
    float: none;
    margin-right: auto;
  }
  /* line 114, ../../../components/sass/modules/_contactUs.scss */
  #contactUs div .details {
    width: 35%;
    line-height: 140%;
  }
  /* line 119, ../../../components/sass/modules/_contactUs.scss */
  #contactUs div .details ul li {
    text-align: left;
  }
  /* line 122, ../../../components/sass/modules/_contactUs.scss */
  #contactUs div .details ul li a {
    margin-top: 25px;
  }
  /* line 129, ../../../components/sass/modules/_contactUs.scss */
  #contactUs div .form {
    width: 48%;
    margin: auto;
    display: inline-block;
  }
  /* line 134, ../../../components/sass/modules/_contactUs.scss */
  #contactUs div .form input[type="email"],
  #contactUs div .form input[type="text"],
  #contactUs div .form textarea {
    width: 18em;
    padding: 5px 0;
    margin: 10px 5px 5px 0;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
    background-color: #a7c6e1;
  }
  /* line 144, ../../../components/sass/modules/_contactUs.scss */
  #contactUs div .form textarea {
    vertical-align: middle;
    height: 5em;
  }
  /* line 150, ../../../components/sass/modules/_contactUs.scss */
  #contactUs div .form button {
    padding: 0 0.9em;
    line-height: 1.4em;
    font-size: 1.4em;
    font-weight: 100;
    height: 1.4em;
    letter-spacing: 0.045em;
    text-decoration: none;
    text-transform: lowercase;
    text-align: center;
    white-space: nowrap;
    color: white;
    background-color: #00650e;
    display: table;
    cursor: pointer;
    border: 1px solid #086014;
    border-radius: 0.355em;
    -webkit-box-shadow: inset 0 1px 3px #11601c;
    box-shadow: inset 0 1px 3px #87f295;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+31,207cca+44,2989d8+50,7db9e8+100 */
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #207cca 31%, #207cca 44%, #2989d8 50%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%, #207cca 31%, #207cca 44%, #2989d8 50%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%, #207cca 31%, #207cca 44%, #2989d8 50%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
    /* IE6-9 */
  }
}

/* line 18, ../../../components/sass/_mixins.scss */
#header:after, #header:before {
  content: '';
  display: table;
}
/* line 23, ../../../components/sass/_mixins.scss */
#header:after {
  clear: both;
}
/* line 4, ../../../components/sass/modules/_header.scss */
#header .headerContainer {
  background-color: #94bada;
}
/* line 8, ../../../components/sass/modules/_header.scss */
#header .branDescription {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("http://svrmap.com/bigmove/images/road.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
}
/* line 19, ../../../components/sass/modules/_header.scss */
#header .branDescription .item {
  width: 10rem;
  height: 5rem;
  font-size: 2.5em;
  text-align: center;
  line-height: 1.5em;
}

/* line 1, ../../../components/sass/modules/_works.scss */
#works {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2NzE4YyIgc3RvcC1vcGFjaXR5PSIwLjciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjcxOGMiIHN0b3Atb3BhY2l0eT0iMC4zIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(22, 113, 140, 0.7)), color-stop(100%, rgba(22, 113, 140, 0.3)));
  background: -moz-linear-gradient(top, rgba(22, 113, 140, 0.7), rgba(22, 113, 140, 0.3));
  background: -webkit-linear-gradient(top, rgba(22, 113, 140, 0.7), rgba(22, 113, 140, 0.3));
  background: linear-gradient(to bottom, rgba(22, 113, 140, 0.7), rgba(22, 113, 140, 0.3));
  padding: 50px 0;
}
/* line 18, ../../../components/sass/_mixins.scss */
#works:after, #works:before {
  content: '';
  display: table;
}
/* line 23, ../../../components/sass/_mixins.scss */
#works:after {
  clear: both;
}
@media (min-width: 600px) {
  /* line 1, ../../../components/sass/modules/_works.scss */
  #works {
    min-height: 450px;
  }
}
/* line 10, ../../../components/sass/modules/_works.scss */
#works header {
  text-align: center;
  padding: 0 0 15px 0;
  line-height: 140%;
}
/* line 14, ../../../components/sass/modules/_works.scss */
#works header h1 {
  font-size: 1.4em;
}
/* line 19, ../../../components/sass/modules/_works.scss */
#works .works {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../var/lib/gems/2.3.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
#works .works:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 600px) {
  /* line 19, ../../../components/sass/modules/_works.scss */
  #works .works {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-self: baseline;
    align-self: baseline;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 9.16667%;
    padding-right: 9.16667%;
  }
}
/* line 32, ../../../components/sass/modules/_works.scss */
#works .works .content {
  margin-top: 1%;
  text-align: center;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
/* line 37, ../../../components/sass/modules/_works.scss */
#works .works .content img {
  -moz-border-radius: 0 20%;
  -webkit-border-radius: 0;
  border-radius: 0 20%;
}

/* line 1, ../../../components/sass/modules/_aside.scss */
aside {
  padding: 0.5em;
}
/* line 6, ../../../components/sass/modules/_aside.scss */
aside ul li {
  padding: 0.2rem 0 0 0.13rem;
}
/* line 10, ../../../components/sass/modules/_aside.scss */
aside ul li:hover {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwNjE4YyIgc3RvcC1vcGFjaXR5PSIwLjkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDYxOGMiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(48, 97, 140, 0.9)), color-stop(100%, rgba(48, 97, 140, 0.2)));
  background: -moz-linear-gradient(top, rgba(48, 97, 140, 0.9), rgba(48, 97, 140, 0.2));
  background: -webkit-linear-gradient(top, rgba(48, 97, 140, 0.9), rgba(48, 97, 140, 0.2));
  background: linear-gradient(to bottom, rgba(48, 97, 140, 0.9), rgba(48, 97, 140, 0.2));
}
@media (min-width: 0) and (max-width: 960px) {
  /* line 1, ../../../components/sass/modules/_aside.scss */
  aside {
    display: none;
  }
}
